@font-face {
  font-family: "Bebas Neue Book";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Noto Sans", sans-serif;
  background-color: #fafbfc;
}
button {
  outline: none;
}
.section {
  margin-top: 9.375rem;
}
.container {
  width: 90rem;
  margin: auto;
}
.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs-list {
  display: inline-block;
}
.breadcrumbs-list::before {
  content: "—";
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  font-weight: 400;
  font-size: 0.875rem;
  color: #828a99;
}
.breadcrumbs-list:first-child:before {
  content: "";
}
.breadcrumbs-link,
.breadcrumbs-link-dark {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 160%;
  color: #828a99;
  text-decoration: none;
}
.breadcrumbs-link-dark {
  color: #292d33;
  text-decoration: none;
}
.mobile-menu {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  z-index: 3;
  width: 100%;
  transition: 0.3s;
  top: 0;
  left: 0;
}
.navbar-light {
  background-color: #fff;
  color: #292d33;
  border-bottom: none;
}
.navbar-light .logo-light {
  display: none;
}
.navbar-light .logo-dark {
  display: block;
}
.logo-dark {
  display: none;
}
.navbar-scroll {
  height: 4.625rem;
}
.navbar-light .logo-dark {
  fill: #292d33;
}
.logo-svg {
  width: 9rem;
  height: 2.75rem;
}
.header {
  padding-top: 5.875rem;
}
.header-image {
  background-image: url(../img/background-image.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -53px;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 47, 55, 0.65);
  z-index: 0;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  /* flex-basis: 100%; */
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}
.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-nav-item:not(:last-child) {
  margin-right: 2%;
}
.header-nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  position: relative;
}
.header-nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #5c8ee6;
  /* transform: scaleX(0); */
  transition: width 0.3s;
  right: 0;
  left: auto;
}
.header-nav-link:hover::after {
  /* transform: scaleX(1); */
  width: 100%;
  left: 0;
  right: auto;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-right: 3.125rem;
}
.phone-svg {
  fill: #5c8ee6;
}
.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}
.button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #fff;
  flex-shrink: 0;
  background-color: #3a71d1;
  border: none;
  padding: 1.5625rem 3.75rem;
  cursor: pointer;
}
.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 3.125rem;
}
.navbar-button .button-icon {
  display: none;
}
.header-content {
  position: relative;
  z-index: 1;
  margin-top: 9.375rem;
  color: #fff;
}
.seporator,
.advance-header-seporator {
  width: 9.375rem;
  height: 2px;
  background-color: #5c8ee6;
}
.seporator {
  margin-top: 9.375rem;
}
.advance-header-seporator {
  /* margin-top: 9rem; */
}
.advance-header {
  position: relative;
}
.advance-header-content {
  z-index: 1;
}
.advance-header-img {
  /* display: flex; */
  display: none;
  position: absolute;
  right: 240px;
  bottom: 0;
  margin-left: 240px;
  height: 90%;
}
.chemic-page .advance-header-img {
  display: flex;
}
.advance-header {
  background-color: #f0f2f5;
  margin-top: 5.875rem;
}
.advance-header-content {
  padding-bottom: 50px;
  padding-top: 50px;
}
.header-title {
  font-family: "Bebas Neue Book";
  max-width: 67.5rem;
  margin-top: 1.4375rem;
  font-weight: 400;
  font-size: 5rem;
  line-height: 120%;
  letter-spacing: 0.68px;
  padding: 0;
  margin-bottom: 0;
}
.header-text {
  max-width: 45rem;
  margin-bottom: 3.125rem;
  margin-top: 2.375rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}
.header-features {
  display: flex;
  padding: 0;
  margin-top: 100px;
  list-style: none;
}
.header-features-item {
  padding: 1.8125rem 3.125rem;
  height: auto;
  border: 1px solid rgba(235, 235, 240, 0.2);
  width: 18rem;
}
/* .header-features-item:not(:last-child) {
  border-right: none;
} */
.slider-buttons {
  display: none;
  height: 44px;
}
.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-features-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0;
  margin-top: 1.3125rem;
}
.header-features-icon {
  margin-top: 0.25rem;
}
/* Блок Схема работы */

.default-title {
  font-family: "Bebas Neue Book";
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 120%;
  margin-top: 1.5rem;
}
.work-plan-list {
  list-style: none;
  display: flex;
  gap: 1.875rem;
  padding: 0;
}

.work-plan-item {
  max-width: 20.625rem;
}
.work-plan-item-number {
  font-family: "Bebas Neue Book";
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee6;
  display: flex;
  align-items: center;
}
.work-plan-item-number::after {
  content: "";
  margin-left: 1.875rem;
  width: 100%;
  height: 1px;
  background-color: #ebebf0;
}
.work-plan-item-title {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 2.3125rem;
  margin-bottom: 0px;
}
.work-plan-item-text {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 0.6875rem;
}
.button-link {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee6;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 1.3125rem;
}
.button-link::before {
  content: "";
  height: 1px;
  width: 2.5rem;
  background-color: #5c8ee6;
  display: inline-block;
  margin-right: 1.25rem;
  transition: width 0.3s;
}
.button-link:hover:before {
  width: 3.75rem;
}
.primary-buttons-wrapper {
  display: flex;
  height: 60px;
  justify-content: flex-end;
}
.primary-button-prev,
.primary-button-next {
  background: #5c8ee6;
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.steps-buttons {
  display: none;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex-basis: 33%;
  text-decoration: none;
  border: 1px solid #ebebf0;
  position: relative;
  transition: border 0.2s;
  /* чтобы картинку сделать absolute относительно карточки */
}
.card:hover .card-title {
  color: #5c8ee6;
}
.card:hover {
  border-color: #5c8ee6;
}
.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin: 0;
  margin-bottom: 0.625rem;
  transition: color 0.2s;
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #828a99;
  margin-bottom: 24.625rem;
}
.card-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 90%;
}
.card-content {
  padding: 2.5rem 3.125rem;
}
.trademark-cards {
  display: flex;
}
.trademark-card {
  flex-basis: 50%;
  padding: 50px;
  text-decoration: none;
  border: 1px solid #ebebf0;
  transition: 0.2s;
  padding: 3.125rem;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: auto 2fr;
  grid-column-gap: 50px;
  grid-template-areas:
    "logo title title"
    "logo text text";
}
.trade-mark-logo {
  grid-area: logo;
  fill: #828a99;
  width: 100%;
}
.trademark-card-title {
  grid-area: title;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin: 0;
}
.trademark-text {
  grid-area: text;
  margin-top: 0.625rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
}
.trademark-card:hover {
  border-color: #5c8ee6;
}
.trademark-card:hover .trade-mark-logo {
  fill: #5c8ee6;
}
.trademark-card:hover .trademark-card-title {
  color: #5c8ee6;
}
.founder {
  min-height: 41.25rem;
  position: relative;
}
.founder-photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
  object-fit: cover;
}
.founder-content {
  max-width: 45rem;
}
.founder-content-wrapper {
  display: flex;
  justify-content: flex-end;
}
.founder-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
}
.clients-wrapper {
  display: flex;
  gap: 3.125rem;
}
.clients-content {
  flex-basis: 50%;
}
.clients-list {
  list-style: none;
  padding: 0;
  columns: 2 auto;
  margin-top: 1.375rem;
}
.clients-list-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #292d33;
  margin-bottom: 1.375rem;
}
.clients-logo-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 10;
}
.clients-logo-item {
  display: flex;
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.clients-logo {
  max-width: 100%;
  width: 70px;
  height: 70px;
  filter: grayscale(100%);
  transition: 0.3s;
}
.clients-logo-item:hover .clients-logo {
  filter: grayscale(0%);
}
.blog-card {
  display: flex;
  position: relative;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  justify-content: flex-end;
  /* padding: 3.125rem; */
  padding: 10.3125rem 3.125rem 3.125rem 3.125rem;
  min-height: 25rem;
}
/* .blog .blog-card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.6);
  z-index: -1;
} */
.blog-card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.6);
  z-index: -1;
}
.blog-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.blog-card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  margin: 0px;
}
.blog-card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-top: 10px;
}
.blog-cards-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  margin-top: -48px;
}
.blog-card {
  flex-basis: 50%;
  max-width: 44.0625rem;
}
.blog-section {
  margin-top: 6.25rem;
}
.blog-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3.125rem;
}
.blog-nav-link-wrapper {
  display: flex;
}
.blog-nav-link {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}
.blog-nav-num {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #292d33;
}
.blog-nav .active {
  border-color: #5c8ee6;
  margin-right: 25px;
}
.active .blog-nav-num {
  color: #5c8ee6;
}
.blog-slider-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
}
.blog-slider-footer .button-link {
  margin: 0;
}
.bg-grey {
  background: #f0f2f5;
}
.section-cta {
  position: relative;
  padding-top: 5rem;
  margin-top: 14.3125rem;
  padding-bottom: 6.25rem;
  height: 34.5rem;
}
.cta-image {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 45rem;
  width: 50%;
}
.cta-form-wrapper {
  display: flex;
  justify-content: flex-end;
  /* padding: 6.25rem 0; */
}
.cta-form-title {
  /* margin: 0; */
}
.cta-inputs {
  width: 52.5rem;
}
.cta-form {
  max-width: 52.5rem;
  margin-right: 0.0625rem;
}
.cta-form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 1.375rem;
  margin-bottom: 3.125rem;
  max-width: 40rem;
}
.policy-page .cta {
  display: none;
}
.input-group-wrapper {
  display: flex;
  gap: 1.875rem;
}
.input-group-vertical {
  display: flex;
  flex-direction: column;
}
.input-group {
  position: relative;
  height: 4.125rem;
  flex-grow: 1;
  background-color: #f0f2f5;
}
.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1.25rem 1.875rem;
  border: 1px solid #e4e4eb;
  background-color: inherit;
}
.input-group-label {
  position: absolute;
  cursor: text;
  left: 1.975rem;
  top: 1.35rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  transition: top 0.3s, font-size 0.3s;
}
.input:focus {
  border: 1px solid #5c8ee5;
  outline: none;
}
.input:focus ~ .input-group-label,
.input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
  top: -0.5rem;
  left: 1.25rem;
  font-size: 0.625rem;
  background-color: inherit;
  padding: 0 0.625rem;
}
.cta-form-footer {
  display: flex;
  align-items: center;
  margin-top: 1.8rem;
  gap: 1.875rem;
}
.cta-form-button {
  flex-shrink: 0;
  padding: 1.25rem 3.3125rem;
}
.notify {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}
.notify-icon {
  flex-shrink: 0;
}
.notify-text {
  max-width: 23.75rem;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
  color: #828a99;
}
.footer-top {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo {
  width: 12.5rem;
  height: 3.75rem;
}
.footer-phone {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 160%;
  color: #292d33;
}
.footer-info {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  color: #292d33;
  gap: 1rem;
}
.footer-info-adress,
.footer-info-email {
  font-style: inherit;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: inherit;
  text-decoration: inherit;
}
.footer-social-link {
  text-decoration: none;
}
.footer-seporator {
  color: #ebebf0;
  background-color: #ebebf0;
  border: none;
  height: 1px;
}
.footer-bottom {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.footer-menu-title {
  margin-top: 0;
  margin-bottom: 1.875rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
}
.footer-menu-list {
  margin: 0;
  padding-left: 1.25rem;
  list-style: none;
}
.footer-menu-columns-2 {
  columns: 20rem auto;
  min-width: 50rem;
}
.footer-menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  /* display: block;
  padding-top: .4375rem;
  padding-bottom: .4375rem; */
  margin-bottom: 0.9375rem;
  display: block;
}
.footer-bottom {
  display: flex;
}
.footer-menu-link-bold {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #292d33;
  margin-bottom: 1.875rem;
}
.footer-menu-wrapper:last-child {
  margin-left: 10rem;
}
.footer-wrapper,
.footer-legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.footer-wrapper {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
  color: #828a99;
}
.footer-policy {
  color: inherit;
}
.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.5);
  z-index: 10;
  display: flex;
  transition: opacity 0.3s;
}
.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.modal.is-open .modal-dialog {
  transform: translateY(0);
}
.modal-dialog {
  background-color: #fff;
  margin: auto;
  max-width: 28.75rem;
  padding: 2.5rem 3.125rem;
  position: relative;
  transform: translateY(-50%);
  transition: transform 0.3s;
}
.modal-close {
  display: block;
  position: absolute;
  top: 2.5rem;
  right: 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ebebf0;
}
.modal-title {
  font-family: "Bebas Neue Book";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}
.modal-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 1.875rem;
}
.modal-input-group {
  background-color: #fff;
}
.modal-form-footer {
  margin-top: 1.875rem;
}
.modal-form-button {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
}

/* About */
.expert {
  margin-top: 6.25rem;
}
.expert-content {
  display: flex;
  align-items: center;
  gap: 7.5rem;
}
.expert-description .seporator,
.our-production-description .seporator {
  margin: 0;
}
.expert-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
  margin-top: 20px;
}
.expert-title {
  margin-bottom: 0;
  margin-top: 30px;
}
.expert-slider-section .header-features-item,
.about-slider-buttons {
  border: 1px solid #ebebf0;
}
.dark-arrows {
  display: none;
}
.about-slider-buttons .dark-arrows {
  display: flex;
}
.about-slider-buttons .white-arrows {
  display: none;
}
.about-slider-buttons .slider-button-prev {
  border-right: 1px solid #ebebf0;
}
.our-production {
  margin-top: 6.25rem;
}
.our-production-wrapper {
  display: grid;
  /* align-items: center;
  justify-content: space-between;
  gap: 7.4375rem; */
  grid-template-columns: 2fr;
  grid-template-rows: 2fr;
  grid-column-gap: 7.4375rem;
  grid-template-areas: "text img" "text img";
}
.our-production-description {
  grid-area: text;
}
.our-production-img {
  grid-area: img;
}
.our-production-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
}
.founder-content .seporator {
  margin-top: 3.125rem;
}
.about-blog-text {
  /* columns: 2 100px; */
}
.about-blog-text-wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
}
.about-blog-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
}
.about-slider .blog-slider-footer {
  justify-content: flex-end;
}
.pc-img {
  display: block;
}
.mobile-img {
  display: none;
}

.types {
  margin-top: 6.25rem;
}
.types-title {
  margin-bottom: 0;
}
.types-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
  max-width: 52.5rem;
  margin-top: 1.25rem;
}
.types-list {
  columns: 4;
  list-style: none;
  padding: 0;
  margin-top: 3.125rem;
}
.types-list-item {
  margin-bottom: 1.25rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #292d33;
  display: flex;
  align-items: center;
}
.types-list-item:before {
  content: "";
  width: 13px;
  height: 2px;
  background-color: #5c8ee5;
  margin-top: 0;
  margin-right: 1.25rem;
}
/* Policy */
.policy {
  margin-top: 6.25rem;
}
.policy-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #292d33;
}

.seo-title {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: #292d33;
}
.seo-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
}

.seo-block {
  margin-top: 6.25rem;
}
.seo-link {
  display: inline-block;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee6;
  padding-left: 4px;
  gap: 15px;
  transition: transform 0.8s ease ease;
}
.icon-load {
  transition: transform 0.8s ease-in-out;
}
.seo-link:hover .icon-load {
  transform: rotate(360deg);
}
.seo-link:hover {
  gap: 18px;
}

@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }
  .header-image {
    background-position: center;
  }
  .advance-header-img {
    height: 80%;
  }
  .blog-section .blog-card {
    max-width: none;
    flex-basis: 46%;
  }
}
@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }
  .header-logo {
    padding: 2rem;
  }
  .logo-svg {
    max-width: 6rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .header-phone {
    margin-right: 2rem;
  }
  .navbar {
    height: 5rem;
  }
  .navbar-button {
    padding: 0px 2rem;
  }
  .advance-header {
    margin-top: 4.625rem;
  }
  .cta-image {
    width: 40%;
  }
}
@media (max-width: 1200px) {
  .header-phone {
    display: none;
  }
  .container {
    max-width: 70rem;
  }
  .slider-buttons {
    display: flex;
  }
  .primary-buttons-wrapper {
    height: 40px;
  }
  .steps-buttons {
    display: flex;
  }
  .primary-button-prev,
  .primary-button-next {
    width: 60px;
  }
  .card {
    flex-basis: 50%;
  }
  .card-mark {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .trademark-card {
    grid-template-columns: auto auto;
  }
  .founder-content {
    max-width: 35rem;
  }
  .clients-content {
    flex-basis: 60%;
  }
  .cta-image {
    width: 25%;
  }
  .footer-menu-columns-2 {
    columns: 1;
    min-width: 30rem;
  }
  .expert-content {
    display: flex;
    align-items: center;
    gap: 7.5rem;
    /* flex-wrap: wrap; */
    justify-content: center;
  }
  .expert-logo {
    width: 21.25rem;
  }
  .our-production-wrapper {
    grid-column-gap: 4.375rem;
    align-items: center;
  }
  .our-production-img {
    max-width: 26rem;
  }
  .our-production-picture {
    width: 100%;
  }
  .footer-phone {
    font-size: 1rem;
  }
  .advance-header-img {
    height: 60%;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 60rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    padding: 1.8rem;
  }
  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 90%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 73%;
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #ffffff;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is_open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }
  .mobile-menu-link {
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  .mobile-submenu-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #828a99;
  }
  .mobile-phone {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    text-decoration-line: underline;
    color: #292d33;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 1rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .mobile-info-adress,
  .mobile-info-email {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
    text-decoration: none;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }
  .trademark-cards {
    flex-direction: column;
  }
  .clients-wrapper {
    flex-direction: column;
  }
  .expert-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .expert-logo {
    width: 15.3125rem;
  }
  /* .pc-img {
    display: none;
  }
  .mobile-img {
    display: block;
  } */
  /* .our-production-wrapper {
    justify-content: center;
  }
  .our-production-img {
    margin: 0;
    max-width: 345px;
  } */
  .about-blog-text-wrapper {
    flex-wrap: wrap;
    gap: 0;
  }
  .about-slider {
    margin-top: 1.875rem;
  }
  .cta-image {
    display: none;
  }
  .cta-form-wrapper {
    justify-content: center;
  }
  .cta-inputs {
    width: 40rem;
  }
  .advance-header-img {
    display: none !important;
  }
  .types-list {
    columns: 2 auto;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 50rem;
  }
  .header-title {
    font-size: 3rem;
  }
  /* .header-content {
    padding-top: 3rem;
  } */
  .card {
    flex-basis: 100%;
  }
  .founder-photo {
    position: relative;
    width: 100%;
    margin-bottom: 3.125rem;
  }
  .our-production-wrapper {
    display: grid;
    grid-template-areas: "img img" "text text";
  }
  .footer-logo {
    max-width: 5rem;
  }
  .footer-phone,
  .footer-info-adress,
  .footer-info-email {
    font-size: 10px;
  }
  .footer-menu-list {
    min-width: 8rem;
    max-width: 46rem;
  }
  .footer-menu-wrapper {
    margin-right: 1rem;
  }
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
  }
  .footer-logo {
    max-width: 17rem;
    width: 13.5rem;
    height: 4.8rem;
  }
  .footer-phone {
    padding-top: 23px;
    font-size: 28px;
    margin-bottom: 20px;
  }
  .footer-info {
    margin-bottom: 8px;
  }
  .footer-info-adress,
  .footer-info-email {
    font-size: 14px;
  }
  .founder-content-wrapper {
    justify-content: center;
  }
  .founder-content {
    max-width: 100%;
  }
  .advance-header .header-title {
    font-size: 5rem;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .header-title {
    font-size: 2.3rem;
  }
  .header-text {
    font-size: 0.7rem;
  }
  /* .header-content {
    padding-top: 3rem;
  } */
  .trademark-card {
    grid-template-areas:
      "logo title"
      "text text";
  }
  .clients-list {
    columns: 1;
  }
  .clients-logo-item {
    flex-basis: 50%;
  }
  .expert-img {
    width: 145px;
  }
  .expert-logo {
    max-width: 100%;
  }
  .clients-list-item {
    margin-bottom: 15px;
  }
  .cta-inputs {
    flex-direction: column;
    max-width: 90vw;
    gap: 16px;
  }
  .section-cta {
    height: 574px;
    padding-top: 77px;
    margin-top: 106px;
  }
  .cta-form-footer {
    flex-direction: column;
  }
  .cta-form-button {
    width: 100%;
  }
  .footer-menu-wrapper:last-child {
    margin-left: 0;
  }
  .footer-menu-wrapper:last-child .footer-menu-list {
    padding-left: 0;
  }
  .footer-bottom {
    flex-direction: column;
  }
  .footer-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }
  .footer-legal {
    display: block;
  }
  .section-cta {
    min-height: 574px;
    padding-top: 77px;
    margin-top: 106px;
    padding-bottom: 6.25rem;
  }
  .cta-form {
    margin-top: -41px;
    margin-right: 0;
  }
  .advance-header .header-title {
    font-size: 4rem;
  }
  .blog-section .blog-card {
    flex-basis: 100%;
  }
  .blog-card-text {
    display: none;
  }
  .blog-card {
    padding: 109px 24px 3px 14px;
    min-height: 16.2rem;
  }
  .blog-card-title {
    font-size: 1.6rem;
    margin-bottom: 15px;
    line-height: 132%;
    margin-top: 0px;
    letter-spacing: 0.7px;
    width: 305px;
  }
  .blog-nav {
    justify-content: center;
    margin-top: 53px;
  }
  .types-list {
    columns: 1 auto;
  }
}
