* {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans', sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(71, 69, 69);
  color: #fff;
  height: 94px;
}
.header-logo {
  margin: 25px 50px;
}
.header-nav {
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}
.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  margin-right: 50px;
  color: inherit;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}
.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}
.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #3A71D1;
  border: none;
  padding: 25px 60px;
  gap: 10px;
}
.header-button {
  height: 100%;
}