@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/BebasNeueBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
* {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #FAFBFC;
}
.container {
  width: 1440px;
  margin: auto;
}
.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 94px;
  position: relative;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
}
.header {
  min-height: 100vh;
}
.header-image {
  background-image: url(../img/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #292D3399;
  z-index: 0;
}
.header-logo {
  padding: 25px 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav {
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}
.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  margin-right: 50px;
  color: inherit;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}
.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}
.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  flex-shrink: 0;
  background-color: #3A71D1;
  border: none;
  padding: 25px 60px;
  cursor: pointer;
}
.navbar-button {
  height: 100%;
}
.header-content {
  position: relative;
  z-index: 1px;
  margin-top: 150px;
  color:#fff;
}
.seporator {
  width: 150px;
  height: 2px;
  background-color: #5C8EE6;
}
.header-title {
  font-family: 'Bebas Neue Book';
  max-width: 1080px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;  
}
.header-text {
  max-width: 720px;
  margin-bottom: 50px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.header-features {
  display: flex;
  padding: 0;
  margin-top: 100px;
  min-height: 168px;
  list-style: none;
}
.header-features-item {
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-features-item:not(:last-child) {
  border-right: none;
}

/* Блок Схема работы */
.seporator {
  margin-top: 150px;
}
.default-title {
  font-family: 'Bebas Neue Book';
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  margin-top: 30px;
}
.work-plan-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
}
.work-plan-item {
  max-width: 330px;
}
.work-plan-item-number {
  font-family: 'Bebas Neue Book';
  font-size: 48px;
  line-height: 120%; 
  color: #5C8EE6;
  display: flex;
  align-items: center;
}
.work-plan-item-number::after {
  content: "";
  margin-left: 30px;
  width: 100%;
  height: 1px;
  background-color: #EBEBF0;
}
.work-plan-item-title {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: #292D33;
}
.work-plan-item-text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828A99;
}
.steps-link {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #5C8EE6;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.steps-link::before {
  content: "";
  height: 1px;
  width: 40px;
  background-color: #5C8EE6;
  display: inline-block;
  margin-right: 20px;
}